#homeContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  gap: 1rem;
  position: absolute;
}
#userImg {
  height: 29rem;
  width: 34rem;
  border-radius: 0.5rem;
  object-fit: cover;
}
span {
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-family: sans-serif;
}
.font-500{
    font-weight: 500;
}
.span_content {
  font-weight: 500;
  font-family: math;
}
.content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.homeContent {
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: center;
  gap: 0.6rem;
}
.sectionContent {
  margin: 3rem;
  margin-top: 5rem;
}

.mainContent{
  display: flex;
  justify-content: center;
  gap: 1.8rem;
}

a {
  color: white;
  font-size: 3rem;
}
a:hover {
  filter: brightness(0.8);
}
