.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 0.5rem;
}
.heading {
  display: flex;
  align-items: center;
  gap: 4px;
}
form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.3rem;
}
.inputField {
  padding: 0.9rem;
  width: 22rem;
  border-radius: 0.3rem;
  border: 0px transparent;
  transition: 1s;
}
input:focus {
  outline: none;
}
#btn {
  border-radius: 7px;
  border: 0px solid;
  padding: 0.9rem;
  font-family: sans-serif;
}
#btn:hover {
  scale: 1.1;
}
.heading {
  display: flex;
  align-items: flex-start;
  font-family: sans-serif;
  color: white;
  font-size: 2.5rem;
}
h1 {
  font-size: 2.2rem;
}
